<header class="sb-page-header">
  <meta name="baidu-site-verification" content="bLcYvAxLz0" />
  <div class="sub-content-container">
    <h1 class="brand">结伴同游，无伴不欢</h1>
    <hr class="star-light">
    <p>聚焦宝宝社交的亲子活动平台，为您开启完美的结伴亲子之旅</p>
  </div>
</header>