<header class="container hidden">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">结伴同欢，无伴不乐</div>
      <div class="intro-lead-in">聚焦宝宝社交的亲子活动平台</div>
      <!--<a href="#services" class="page-scroll btn btn-xl">加入我们</a>-->
    </div>
  </div>
</header>


<header class="sb-page-header">
  <div class="container">
    <h1 class="brand">结伴同游，无伴不欢</h1>
    <hr class="star-light">
    <p>聚焦宝宝社交的亲子活动平台，为您开启完美的结伴亲子之旅</p>
  </div>
</header>