<header class="container hidden">
  <div class="container">
    <div class="intro-text">
      <div class="intro-heading">结伴同欢，无伴不乐</div>
      <div class="intro-lead-in">聚焦宝宝社交的亲子活动平台</div>
      <!--<a href="#services" class="page-scroll btn btn-xl">加入我们</a>-->
    </div>
  </div>
</header>
