<header>
  <div class="container hidden">
    <div class="row">
      <div class="col-md-12">
        <!--<img class="img-responsive" src="assets/profile.png" alt="">-->
        <div class="intro-text">
          <span class="name"></span><span class="skills">聚焦宝宝社交活动的平台</span>
          <!--<hr class="star-light">-->
        </div>
      </div>
    </div>
  </div>
</header>
