// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery {
  margin: 0 0 50px 0;
  padding: 0;
  width: 99%;
}

.activity-list {
  .activity {
    margin-bottom: 5px;
    padding: 0 15px;
    position: relative;
    line-height: 1.42857;

    .registration-full {
      position: absolute;
      left: 14px;
      top: 14px;
    }
    .activity-box {
      box-sizing: border-box;
      line-height: 1.42857;
      box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
      border-radius: 0;
      background-color: white;
      border: 1px solid #ddd;

      margin-bottom: 20px;
      padding: 20px 20px 40px;

      .abstract {
        line-height: 18px;
        max-height: 120px;
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #777;
        border: 1px;
      }

      .image-container {
        box-sizing: border-box;
        background-color: white;
        border: 1px solid #ddd;
        overflow: hidden;

        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        display: block;
        line-height: 1.42857;
        padding: 4px;

        &:hover {
          border: 1px solid #ff6800;
        }
      }

      .a .img{
        padding-left: 3px;
        padding-right: 3px;
      }

      pre {
        overflow-y: hidden;
        height: 130px;
        white-space: pre-wrap;
        white-space: -moz-pre-wrap;/* css-3 */
        white-space: -pre-wrap;/* Mozilla, since 1999 */
        white-space: -o-pre-wrap;/* Opera 4-6 */
        word-wrap: break-word;/* Opera 7 */
        /* Internet Explorer 5.5+ */
      }

      .info-box{
        overflow: hidden;
        height: 139px;
        margin: 0 5px 25px;

        box-sizing: border-box;

        h1 {
          font-size: 22px;
          border: 0;
          margin: 16px 0 6px;
          line-height: 26px;

          a {
            color: #393939;

            &:hover {
              color: #ff6800;
              text-decoration: none;
            }
          }
        }

        .item{
          padding-right: 5px;
          margin-bottom: 10px;
          margin-right: 6px;

          span.separator {
            margin-right: 5px;
            margin-left: 5px;
          }




          .label {
            font-size: 70%;
          }
        }
      }
    }
  }

}

.activity-detail .info-box {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.activity-detail .info-box .item {
  padding-right: 5px;
  margin-bottom: 10px;
  float: left;
  margin-right: 5px;
}

.activity-detail .info-box .item .label,
{
  font-size: 80%;
}

.activity-detail .title {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  font-size: 30px;
  font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;
  font-weight: bold;
  color: #18bc9c;
  line-height: 30px;
  max-height: 60px;
  display: block;
  overflow: hidden;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.activity-detail .title p{
  margin-bottom: 5px;
}

.activity-detail .item .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 3px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}

.activity-detail .item span.separator {
  margin-right: 5px;
  margin-left: 5px;
}

.activity-detail .abstract  {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #75F;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.activity-detail .content  {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-size: 8px;
}

.activity-detail .content p{
  font-size: 15px;
}

.right-box .panel-heading{
  background: none repeat scroll 0 0 #ff6800;
  border-color: #ff6800;
  padding: 15px 15px 10px;

  font-size: 16px;
}

.activity-detail .right-box {
  position: relative;
  padding: 10px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
}

.activity-detail .right-box .panel {
  padding: 10px 10px 10px 10px;
  border-radius: 10px;
}

.activity-detail .right-box .form-control {
  font-size: 12px;
}

.panel-content {
  padding: 20px;

  h2 {
    font-size: 22px;
    border-bottom: 1px dashed #c7c7c7;
    padding: 0 0 4px 0;
    margin: 3px 0 10px 0;
  }

  li {
    display: block;
    height: 40px;
  }

  .more-info {
    border: 3px solid #e8e8e8;
    margin: 0px 20px 20px 0px;
    padding: 25px 20px 0;
    text-align: center;
    max-height: 270px;
    overflow: hidden;

    font-size: 14px;

    .label {
      color: #000000;
      font-size: 20px;
      font-weight: normal;
    }

    .time_item {
      font-size: 15px;
    }

    .label-info {
      color: white;
      font-size: 13px;
    }

    .badge {
      background-color: #3498db;
      font-size: 12px;
    }

    .attendance_number_item {
      border-radius: 1.75em
    }

    .col-sm-4 {
      padding: 0;
    }
  }

  .row {
    margin-left: 0;
    margin-right: 0;
  }

  .valuable-items {
    ul {
      display: block;
      list-style-type: disc;
      -webkit-margin-before: 1em;
      -webkit-margin-after: 1em;
      -webkit-margin-start: 0px;
      -webkit-margin-end: 0px;
      -webkit-padding-start: 40px;
      padding: 3px 0 5px;
      margin: 0;
      li {
        display: list-item;
        height: 100%;
        text-align: -webkit-match-parent;
      }
    }
  }
}

.sign-up-tab {
  a {
    display: block;
    position: fixed;
    width: 40px;
    height: 135px;
    z-index: 101;
    bottom: 400px;
    right: 0;

    background-color: rgba(70,179,216,0.9);
    box-sizing: border-box;

    padding: 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;

    font-size: 20px;
    color: #ffffff;
    text-align: center;

    opacity: .7;
    &:hover {
      color: #ffffff;
      opacity: .9;
    }
  }
}

.sign-up-form {
  background: #fffad5;
  border-top: 2px solid #ffef83;
  border-bottom: 2px solid #ffef83;
  padding: 20px 0 0 20px;

  .form-group {
    label{
      display: inline-block;
      font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 13px;
      line-height: 1.42857143;
      color: #2c3e50;
      width: 25%;
    }

    input,select {
      display: inline-block;
      border-width: 1px;
      width: 70%;

      &:focus {
        border-color: #ff6800;
      }

    }

    button {
      width: 95%;
    }
  }
}

.btn-primary {
  background-color: #ff6800;
  border-color: #ff6800;
  color: white;

  &:hover {
    background-color: #e84200;
    border-color: #e84200;
    color: white;
  }
}


.sidebar {
  height: 1000px;
  border-width: 1px;
  border-style: solid;
}

.panel-primary {
  border: none;

  -webkit-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
}

.panel-body{
  padding: 5px 5px 5px 15px;
}

.user-row {
  margin-bottom: 5px;
  border-width: 0px;
  border-style: inset;
  border-bottom-width: 1px;
  padding-bottom: 5px;
  margin-right: 0px;

}

.user-row .user-row-avatar  {
  padding-left: 0px;
}

.user-row .user-row-info{
  margin-top: 10px;
  padding-left: 15px;
  font-size: 12px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.label-danger a#contact-phone {
  color:#ffffff
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.img-preview {
  -webkit-transition: all .7s ease-in-out 0s;
  -moz-transition: all .7s ease-in-out 0s;
  -o-transition: all .7s ease-in-out 0s;
  -ms-transition: all .7s ease-in-out 0s;
  transition: all .7s ease-in-out 0s;
}

.img-preview:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-filter: grayscale(30%);
}

.intro {
  width: 99%;
  background: white;

  border: 1px solid #ddd;

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;

  -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.3);
  box-shadow: 1px 1px 0 rgba(0,0,0,0.3);

  margin: 0 0 20px 0;
  padding: 15px 30px 20px;

  position: relative;

  .intro-content {
    h3 {
      font-size: 22px;
      border-bottom: 0;
      padding: 0;
      margin: 16px 0 0;

      border-bottom: 1px dashed #c7c7c7;
      margin: 10px 0 0 0;
      padding: 0 0 8px;
    }
  }
}

#infscr-loading {
  text-align: center;
  div {
    display: inline-block;
    color: #585858;
    em {
      padding-left: 15px;
    }
  }
  img {
    display: inline-block;
    width: 30px;
  }
}

@media screen and (max-width: 991px) {
  .activity-list .activity .activity-box {
    padding: 12px 12px 35px;
  }
  .img-preview:hover {
    animation: none;
    -webkit-animation: none;
    transform: scale(1);
    -webkit-filter: grayscale(30%);
  }

  .panel-content {
    padding-left: 10px;
    padding-right: 10px;
  }

  .row.more-info {
    padding-left: 0;
    padding-right: 0;
  }

  .panel-content .more-info .label {
    font-size: 14px;
  }

}

@media screen and (max-width: 1200px) {
  .panel-content .more-info .label {
    font-size: 16px;
  }
}

@media screen and (max-width: 768px){
  .scroll-top {
    a {
      z-index: 1049;
      position: fixed;
      right: 12px;
      bottom: 84px;
      width: 60px;
      height: 60px;
      border-radius: 5px;
      opacity: .7;
      background-color: rgba(70,179,216,0.9);
      font-size: 30px;
      text-align: center;
      padding: 10px;
      color: #ffffff;

      &:hover {
        opacity: .9;
        color: #ffffff;
      }
    }
  }
  .sign-up-tab {
    a {
      right: 12px;
      bottom: 12px;
      width: 60px;
      height: 60px;
      font-size: 16px;
      border-radius: 5px;
    }
  }

  .activity-list .activity {
    padding: 0;
  }

  .activity-list .activity .activity-box {
    margin-bottom: 10px;
    padding: 10px 12px 40px;
  }

  .right-box {
    padding-left: 0;
    padding-right: 0;
  }
  .ds-thread {
    padding: 2px;
    margin-right: 15px;
    margin-left: 15px;
  }

  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  .intro {
    width: 100%;
  }

  .activity-intro, .right-box {
    padding-left: 0;
    padding-right: 0;
  }
}

.notice .alert-warning{
  background: none repeat scroll 0 0 #ff6800;
}
