// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.activity-list .activity {
  margin-top: 10px;
  margin-bottom: 10px;

  margin-left: 10px;
  margin-right: 10px;

  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px){
  .activity {
    margin-top: 10px;
    margin-bottom: 10px;

    border-width: 1px;
    border-style: solid;
    border-radius: 10px;

    margin-left: 10px;
    margin-right: 10px;

    padding-top: 10px;
    padding-bottom: 10px;
  }
}


pre {
  white-space: pre-wrap;
  /* css-3 */white-space: -moz-pre-wrap;
  /* Mozilla, since 1999 */white-space: -pre-wrap;
  /* Opera 4-6 */white-space: -o-pre-wrap;
  /* Opera 7 */word-wrap: break-word;
  /* Internet Explorer 5.5+ */
}

.activity-list .activity .summary {

}


.activity-list .activity .title {
  margin-top: 12px;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;
  font-weight: bold;
  line-height: 20px;
  max-height: 40px;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 0;
  text-overflow: ellipsis;

}

.activity-list .activity .summary .title {
  margin-top: 5px;
  margin-bottom: 10px;
  position: relative;
  font-size: 18px;
  font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;
  font-weight: bold;
  line-height: 20px;
  max-height: 40px;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.activity-list .activity .summary .abstract {
  line-height: 18px;
  max-height: 120px;
  display: block;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #777;
  border: 1px;
}

.activity-detail .info-box {
  float: left;
  margin-left: 15px;
  margin-top: 15px;
  margin-bottom: 0px;
}

.activity-list .activity .summary .info-box {
  float: left;
  margin-top: 3px;
  margin-bottom: 3px;
}

.activity-list .activity .summary .detail-link-box{
  float: right;
}

.activity-detail .info-box .item,
.activity-list .activity .summary .item{
  padding-right: 5px;
  margin-bottom: 10px;
  float: left;
  margin-right: 5px;
}

.activity-detail .info-box .item .label,
.activity-list .activity .summary .item .label{
  font-size: 80%;
}


.activity-detail {

}

.activity-detail .title {
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  position: relative;
  font-size: 30px;
  font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;
  font-weight: bold;
  color: #18bc9c;
  line-height: 30px;
  max-height: 60px;
  display: block;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  letter-spacing: 0;
  text-overflow: ellipsis;
}

.activity-detail .title p{
  margin-bottom: 5px;
}

.activity-list .item .badge,
.activity-detail .item .badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 3px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: transparent;
  border-radius: 10px;
}

.activity-list .item span.separator,
.activity-detail .item span.separator {
  margin-right: 5px;
  margin-left: 5px;
}

.activity-detail .abstract  {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 25px;
  display: block;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #75F;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
}

.activity-detail .content  {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 20px;
  display: block;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
  font-size: 8px;
//  font-family: 'Hiragino Sans GB','Microsoft YaHei',arial,sans-serif;

}

.activity-detail .content p{
  font-size: 15px;
}



.rside-bar {
//  border-width: 1px;
//  border-radius: 3px;
//  border-style: double;
}

@media screen and (max-width: 768px){
.activity-detail .right-box {
  padding: 15px;
  margin-right: 20px;
  margin-left: 20px;
}
}

.activity-detail .right-box {
  position: relative;
  padding: 10px 0px 0px;
}

.activity-detail .right-box .panel {
  padding: 10px;
  border-radius: 10px;
}

.activity-detail .right-box .form-control {
  font-size: 12px;
}

.form-group label{
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.42857143;
  color: #2c3e50;
}

.btn-primary {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}


.sidebar {
  height: 1000px;
  border-width: 1px;
  border-style: solid;
}

.user-row {
  margin-bottom: 10px;
}

.user-row .user-row-avatar  {
  padding-left: 0px;
}

.user-row .user-row-info{
  margin-top: 5px;
  padding-left: 15px;
  font-size: 12px;
}

.user-row:last-child {
  margin-bottom: 0;
}

.dropdown-user {
  margin: 13px 0;
  padding: 5px;
  height: 100%;
}

.dropdown-user:hover {
  cursor: pointer;
}

.table-user-information > tbody > tr {
  border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
  border-top: 0;
}


.table-user-information > tbody > tr > td {
  border-top: 0;
}
